@import "../../components/expenses/expense_create/ExpenseCreate.scss";
@import "../../components/expenses/expense_edit/ExpenseEdit.scss";
@import "../../components/layout/header/Header.scss";
@import "../../components/layout/help/Help.scss";
@import "../../components/layout/not_found/NotFound.scss";
@import "../../components/expenses/expense_list/ExpenseList.scss";
// @import "../../components/expenses/expense_filters/ExpenseFilters.scss";
// @import "../../components//utils/currency_input/CurrencyInput.scss";
@import "../../components/utils/single_date_input/SingleDateInput.scss";
@import "../../components/utils/date_range_input/DateRangeInput.scss";
@import "../../components/filters/expense_filters/ExpenseFilters.scss";
@import "../../components/filters/text_search_filter/TextSearchFilter.scss";

.custom-icon {
    vertical-align: bottom;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.error-helper {
    color: #F44336 !important
}

.error-label {
    color: #F44336 !important
}

.custom-container {
    margin-top: 50px;
}

.component-heading {
    font-size: 2rem;
    font-weight: 600;
}

.btn-edit {
    min-width: 80px !important;
}

.update-icon {
    margin-left: 5px;
}