@import "../../components/expenses/expense_create/ExpenseCreate.scss";
@import "../../components/expenses/expense_edit/ExpenseEdit.scss";
@import "../../components/layout/header/Header.scss";
@import "../../components/layout/not_found/NotFound.scss";
@import "../../components/expenses/expense_list/ExpenseList.scss";
@import "../../components/utils/single_date_input/SingleDateInput.scss";
@import "../../components/utils/date_range_input/DateRangeInput.scss";
@import "../../components/filters/expense_filters/ExpenseFilters.scss";
@import "../../components/filters/text_search_filter/TextSearchFilter.scss";
@import "../../components/layout/landing/Landing.scss";
@import "../../components/expenses/expense_view/ExpenseView.scss";

.custom-icon {
  vertical-align: bottom;
}

.mt-25 {
  margin-top: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.error-helper {
  color: #f44336 !important;
}

.error-label {
  color: #f44336 !important;
}

.custom-container {
  margin-top: 50px;
}

.component-heading {
  font-size: 3rem;
  font-weight: 600;
}

.update-icon {
  margin-left: 5px;
}

.expenses-title {
  color: #26a69a !important;
  font-weight: 400 !important;
}

.expense-list-amount {
    font-size: 1.2rem;
}

.expense-list-created {
    font-weight: 600;
}

.green-text {
    color: #26a69a !important;
}