.btn-delete {
  min-width: 70px !important;
}

.btn-edit {
  min-width: 70px !important;
}

.delete-record-heading {
  font-size: 3rem;
}

.confirmation-message {
  font-size: 1.2rem;
  font-weight: 400;
}
