.logo-img {
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 14px;
}

.logo-text {
    font-size: 2rem;
    margin-left: 8px;
    display: inline;
}

.custom-nav-wrapper {
    min-height: 75px;
}

.height-100 {
    height: 100% !important;
}

.custom-nav-li {
    display: table;
    a {
        vertical-align: middle;
    display: table-cell;
    }
}

