#custom-single-date-picker-wrapper {
  .SingleDatePicker {
    width: 100%;
    border: none;
  }
  .SingleDatePickerInput {
    width: 100%;
    border: none;
    .DateInput {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
